.btn {
	width: 100%;
	border: 3px solid #000;
	background: none;
	aspect-ratio: 1/1;
	font-size: 2.5rem;
	text-transform: uppercase;
	padding: 0.5rem;
	font-weight: 700;
	cursor: pointer;
	color: #000;

	&.active {
		background-color: hsl(200, 100%, 50%);
		color: #fff;
	}

	&.inactive {
		opacity: 0.3;
	}

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background-color: hsl(200, 100%, 75%);
	}
}
